.empty-carriage {
  padding: 10px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgb(206, 206, 206, 0.8)
    ),
    url("https://t3.ftcdn.net/jpg/08/29/04/64/360_F_829046488_subo8eXlelN4E260DVs77NkhL08jYAe8.jpg");

  background-size: cover;
}

@media screen and (max-width: 768px) {
  .empty-carriage {
    padding: 10px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 380px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgb(206, 206, 206, 0.8)
      ),
      url("https://t3.ftcdn.net/jpg/08/29/04/64/360_F_829046488_subo8eXlelN4E260DVs77NkhL08jYAe8.jpg");

    width: 100%;
  }

  .empty-cart-header {
    font-size: 24px;
    font-family: "Bree serif";
    font-weight: bold;
  }

  .empty-cart-img {
    width: 320px;
    height: 220px;
  }

  .place-an-order-btn {
    border-radius: 12px;
    background-color: transparent;
    font-family: "Bree serif";
    padding: 4px 12px 4px 12px;
    border: 2px solid #000000;
    font-size: small;
    font-style: italic;
    box-shadow: inset 0px 0px 10px #02314281;
  }
}

@media screen and (min-width: 768px) {
  .empty-cart-header {
    font-family: "Bree serif";
    font-weight: bold;
    font-size: 32px;
  }

  .empty-cart-img {
    width: 440px;
    height: 360px;
  }

  .place-an-order-btn {
    border-radius: 12px;
    background-color: #3e1600;
    padding: 4px 12px 4px 12px;
    font-family: "Bree serif";
    border: 2px solid transparent;
    font-size: large;
    font-style: italic;
    color: #f4cb01;
  }
}

.cart-list-container {
  padding: 40px;
  font-family: "Garamond";
  display: flex;
  flex-direction: column;
  min-width: 340px;
}

.order-total-amount {
  align-self: center;
  font-size: larger;
  font-family: "Bree Serif";
  color: rgb(11, 84, 157);
}

.order-placed-button {
  padding: 10px;
  border-radius: 10px;
  border: 2px double #0ed20e;
  font-family: "Bree Serif";
  align-self: flex-end;
}

.order-placed-container {
  background-color: #161816;
  color: #ffffff;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
}

.place-an-order-link {
  text-decoration: none;
}
