.empty-carriage {
  padding: 40px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-list-container {
  padding: 40px;
  font-family: "Garamond";
  display: flex;
  flex-direction: column;
}

.order-total-amount {
  align-self: center;
  font-size: larger;
  font-family: "Bree Serif";
  color: rgb(11, 84, 157);
}

.order-placed-button {
  padding: 10px;
  border-radius: 10px;
  border: 2px double #0ed20e;
  font-family: "Bree Serif";
  align-self: flex-end;
}

.order-placed-container {
  background-color: #161816;
  color: #ffffff;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
}
