@media screen and (max-width: 768px) {
  .about-container {
    background-image: url("https://res.cloudinary.com/dnmyyqfhs/image/upload/v1726075920/nebulae-cosmic-stars-dark-blue-dark-background-digital-4480x2520-3926_vnifnz.jpg");
    width: 100vw;
    max-height: 1400px;
    display: flex;
    flex-direction: column;
    font-size: smaller;
    align-items: center;
    padding: 20px;
    background-size: cover;
    min-width: 380px;
    height: 100vh;
  }

  .about-header {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 30px;
  }

  .about-ul {
    color: #ffffff;
    font-family: "Garamond";
    font-size: 18px;
  }

  .linked-in-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-weight: bolder;
    text-align: start;
  }

  .about-li {
    list-style-type: disc;
    text-align: justify;
    padding: 12px;
    text-shadow: 1px 0px #4e4d4d;
  }

  .redirect-icon {
    padding: 4px 1px 1px 2px;
    color: #00ffbf;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    background-image: url("https://res.cloudinary.com/dnmyyqfhs/image/upload/v1726075920/nebulae-cosmic-stars-dark-blue-dark-background-digital-4480x2520-3926_vnifnz.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    padding: 30px;
    background-size: cover;
    height: 100vh;
  }

  .about-header {
    color: #e0e1e1;
    font-family: "Bree Serif";
    font-size: 34px;
  }

  .about-ul {
    color: #e0e1e1;
    font-family: "Perpetua";
    font-size: 22px;
  }

  .linked-in-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    font-weight: bolder;
  }

  .about-li {
    padding: 14px;
    list-style-type: decimal-leading-zero;
    text-align: justify;
    text-shadow: 1px 0px #4e4d4d;
  }

  .redirect-icon {
    padding: 4px 2px 1px 4px;
    color: #00ffbf;
    text-decoration: none;
  }
}
