@media screen and (max-width: 768px) {
  .books-unordered-list {
    display: flex;
    flex-direction: column;
  }

  .books-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

.books-unordered-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.books-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

.search-bar {
  border: 2px solid #080808;
  border-radius: 10px;
  margin-left: 10px;
}

.loader-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
