.cart-list-ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .cart-list-li {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
}

.cart-list-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.book-image {
  width: 60px;
  border-radius: 12px;
}

.book-title {
  font-size: 20px;
  color: #2e2c2c;
  padding: 4px;
}

.amount {
  font-size: 16px;
}

.cart-list-badge {
  padding-left: 4px;
  background-color: transparent;
  color: #efef0d;
  font-size: 20px;
}

.remove-button {
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 80px;
  padding-top: 6px;
}
