@media screen and (max-width: 767px) {
  .home-header {
    background-image: url("https://res.cloudinary.com/dnmyyqfhs/image/upload/v1725547173/370684750a6a267dd39b96c71f1e51fe_lvkygl.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Garamond";
    justify-content: flex-start;
    align-items: center;
    color: #ffff;
    padding: 20px;
    text-align: justify;
  }
}

@media screen and (min-width: 768px) {
  .home-header {
    background-image: url("https://res.cloudinary.com/dnmyyqfhs/image/upload/v1725546912/370684750a6a267dd39b96c71f1e51fe_mzygzl.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Garamond";
    justify-content: flex-start;
    align-items: center;
    color: #ffff;
    padding: 20px;
    text-align: justify;
  }
}
