@media screen and (max-width: 576px) {
  .home-header {
    background-image: url("https://res.cloudinary.com/dnmyyqfhs/image/upload/v1725954335/370684750a6a267dd39b96c71f1e51f_tvh4ur.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Garamond";
    justify-content: flex-start;
    align-items: center;
    color: #ffff;
    padding: 20px;
    text-align: justify;
    min-width: 380px;
  }

  .explore-button {
    font-size: x-small;
    background-color: #00563f;
    color: #ffc20e;
    border-radius: 8px;
    border: none;
    font-family: "Perpetua";
    font-weight: bolder;
    padding: 8px;
    margin: 0px;
  }

  .home-quote {
    font-size: medium;
    text-align: center;
  }

  .explore-button:hover {
    background: transparent;
    color: #fff;
    box-shadow: inset 0px 0px 6px #9ec1ff;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .home-header {
    background-image: url("https://res.cloudinary.com/dnmyyqfhs/image/upload/v1725547173/370684750a6a267dd39b96c71f1e51fe_lvkygl.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Garamond";
    justify-content: flex-start;
    align-items: center;
    color: #ffff;
    padding: 20px;
    text-align: justify;
  }

  .explore-button {
    font-size: x-small;
    background-color: #00563f;
    color: #ffc20e;
    border-radius: 10px;
    border: none;
    font-family: "Perpetua";
    font-weight: bolder;
    padding: 10px;
    margin: 0px;
  }

  .home-quote {
    font-size: x-large;
    text-align: center;
  }

  .explore-button:hover {
    background: transparent;
    color: #fff;
    box-shadow: inset 0px 0px 6px #9ec1ff;
  }
}

@media screen and (min-width: 768px) {
  .home-header {
    background-image: url("https://res.cloudinary.com/dnmyyqfhs/image/upload/v1725546912/370684750a6a267dd39b96c71f1e51fe_mzygzl.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Garamond";
    justify-content: flex-start;
    align-items: center;
    color: #ffff;
    padding: 40px;
    text-align: justify;
  }

  .explore-button {
    background-color: #015841;
    color: #ffc20e;
    border-radius: 10px;
    border: none;
    font-size: medium;
    padding: 10px;
    font-family: "Perpetua";
    font-weight: bolder;
    margin: 0px;
  }

  .home-quote {
    font-size: xx-large;
    text-align: center;
    margin-top: 0px;
  }

  .explore-button:hover {
    background: transparent;
    color: #fff;
    box-shadow: inset 0px 0px 6px #9ec1ff;
  }
}
